<div class="page-title">
  <div class="title_left">
    <h3>{{title}}</h3>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Đổi mật khẩu
          <!--<small>different form elements</small>-->
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id="demo-form2" name="changePasswordForm" method="post" class="form-horizontal form-label-left"
              ng-submit="change()"
              novalidate>

          <div class="form-group"
               ng-class="{ 'has-error':changePasswordForm.old_pass.$touched && changePasswordForm.old_pass.$invalid }">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="old_pass">Mật khẩu hiện tại <span
              class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" class="form-control col-md-7 col-xs-12" id="old_pass" name="old_pass"
                     ng-model="account.current_pass" required>
              <div class="help-block" ng-messages="changePasswordForm.old_pass.$error"
                   ng-if="changePasswordForm.old_pass.$touched">
                <p ng-message="required">Vui lòng nhập mật khẩu hiện tại!</p>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-class="{ 'has-error':changePasswordForm.password.$touched && changePasswordForm.password.$invalid }">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Mật khẩu mới <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" class="form-control col-md-7 col-xs-12" id="password" name="password"
                     ng-pattern="/^[a-zA-Z0-9@$#&]*$/" ng-model="account.new_pass" ng-minlength="6" ng-maxlength="50"
                     ng-trim="false" required>
              <div class="help-block" ng-messages="changePasswordForm.password.$error"
                   ng-if="changePasswordForm.password.$touched">
                <p ng-message="required">Vui lòng nhập mật khẩu mới!</p>
                <p ng-message="minlength">Mật khẩu mới phải có ít nhất 6 ký tự!</p>
                <p ng-message="maxlength">Mật khẩu mới không dài quá 50 ký tự!</p>
                <p ng-message="pattern">Mật khẩu mới chỉ có thể chứa &#64;, &#36; &#35;, &#38;, không bao gồm khoảng
                  trắng và ký tự Tiếng Việt!</p>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-class="{ 'has-error':changePasswordForm.confirm_pwd.$touched && changePasswordForm.confirm_pwd.$invalid }">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirm_pwd">Nhập lại mật khẩu <span
              class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" ng-pattern="{{account.new_pass}}" class="form-control col-md-7 col-xs-12"
                     id="confirm_pwd" name="confirm_pwd" ng-model="account.confirm_pass" required>
              <div class="help-block" ng-messages="changePasswordForm.confirm_pwd.$error"
                   ng-if="changePasswordForm.confirm_pwd.$touched">
                <p ng-message="required">Vui lòng nhập xác nhận mật khẩu mới!</p>
                <p ng-message="pattern">Giá trị xác nhận mật khẩu không trùng với mật khẩu!</p>
              </div>
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <input type="submit"
                     ng-disabled="!changePasswordForm.$dirty || (changePasswordForm.$dirty && changePasswordForm.$invalid)"
                     class="btn btn-success" value="Cập nhật"/>
              <cancel-button></cancel-button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
