<div class="page-title">
  <div class="title_left">
    <h3>{{title}}</h3>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tìm kiếm
          <!--<small>different form elements</small>-->
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id="demo-form2" name="formDemo" method="post" class="form-horizontal form-label-left" novalidate>

          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="ticket_code" class="control-label" style="padding: 0">Mã ticket</label>
                <input type="text" class="form-control" id="ticket_code" ng-model="request.ticket_code">
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="service" class="control-label" style="padding: 0">Dịch vụ</label>
                <select class="form-control" name="service" id="service" ng-model="request.service_id">
                  <option value="">-Tất cả-</option>
                  <option ng-repeat="service in services" value="{{service.id}}">{{service.shortName}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="chanel" class="control-label" style="padding: 0">Kênh tiếp nhận</label>
                <select class="form-control" name="service" id="chanel" ng-model="request.channel">
                  <option value="">-Tất cả-</option>
                  <option value="1">Điện thoại</option>
                  <option value="2">Email</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="level" class="control-label" style="padding: 0">Mức độ</label>
                <select class="form-control" name="service" id="level" ng-model="request.level">
                  <option value="">-Tất cả-</option>
                  <option ng-repeat="levelSearch in levelSearchs" value="{{levelSearch.value}}">{{levelSearch.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="key" class="control-label" style="padding: 0">Từ khóa</label>
                <input type="text" class="form-control" id="key" ng-model="request.key_word">
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="status" class="control-label" style="padding: 0">Tình trạng</label>
                <select class="form-control" name="service" id="status" ng-model="request.status">
                  <option value="">-Tất cả-</option>
                  <option ng-repeat="statusSearch in statusSearchs" value="{{statusSearch.value}}">
                    {{statusSearch.label}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="NguoiXuLy" class="control-label" style="padding: 0">Người xử lý</label>
                <select class="select2_multiple form-control" name="NguoiXuLy" id="NguoiXuLy"
                        ng-model="request.assigned_id" multiple="multiple">
                  <optgroup ng-repeat="rightGroup in rightGroups" label="{{rightGroup.groupName}}">
                    <option ng-repeat="item in rightGroup.roleId_user" value="{{item.id}}">{{item.username}}</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="responsible" class="control-label" style="padding: 0">Người chịu trách nhiệm</label>
                <select class="select2_multiple select_receiver form-control" name="responsible" id="responsible"
                        ng-model="request.responsible_id" multiple="multiple">
                  <optgroup ng-repeat="rightGroup in rightGroupByManagers" label="{{rightGroup.groupName}}">
                    <option ng-repeat="item in rightGroup.roleId_user" value="{{item.id}}">{{item.username}}</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="TuNgay" class="control-label" style="padding: 0">Từ ngày</label>

                <div class="input-group">
                  <input type="text" id="TuNgay" class="form-control" ng-model="request.start_date"
                         bs-datepicker autoclose="true" placeholder="dd/MM/yyyy"
                         data-model-date-format="dd/MM/yyyy" data-date-format="dd/MM/yyyy"
                         date-type="string"/>
                  <span class="input-group-btn">
                        <label class="btn btn-default" style="margin-right: 0" for="TuNgay"><i
                          class="glyphicon glyphicon-calendar"></i></label>
                      </span>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="DenNgay" class="control-label" style="padding: 0">Đến ngày</label>
                <div class="input-group">
                  <input type="text" id="DenNgay" class="form-control" ng-model="request.end_date"
                         bs-datepicker autoclose="true" placeholder="dd/MM/yyyy"
                         data-model-date-format="dd/MM/yyyy" data-date-format="dd/MM/yyyy"
                         date-type="string"/>
                  <span class="input-group-btn">
                        <label class="btn btn-default" style="margin-right: 0" for="DenNgay"><i
                          class="glyphicon glyphicon-calendar"></i></label>
                      </span>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
              <div class="form-group" style="margin-top: 20px;">
                <label class="control-label" style="padding: 0">&#32;</label>
                <a ng-click="exportRequest()" style="margin-right: 0" class="btn btn-success pull-right btn-search"><i
                  class="fa fa-download"></i> Xuất excel</a>
                <button ng-click="getRequest()" class="btn btn-primary pull-right btn-search"><i
                  class="fa fa-search"></i> Tìm kiếm
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Danh sách yêu cầu
          <small>Tổng số yêu cầu: {{totalRequest}}</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="row" style="margin-bottom: 5px; padding: 0 5px">
        <div class="col-md-6">
          <div class="form-group">
            <label for="record" class="control-label" style="padding: 8px 10px 0 0; margin-bottom: 0; float: left">Số
              bản ghi: </label>
            <div class="col-sm-6" style="padding: 0; width: 80px">
              <select class="form-control" id="record" ng-model="requestPerPage">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="x_content">
        <div id="no-more-tables" class="table-responsive">

          <table class="table table-striped jambo_table bulk_action table-bordered request-table" ng-if="noData == 0">
            <thead>
            <tr class="headings">
              <th class="column-title">STT</th>
              <th class="column-title">Mã ticket</th>
              <th class="column-title">Ngày tiếp nhận</th>
              <th class="column-title">Dịch vụ</th>
              <th class="column-title">Mức độ</th>
              <th class="column-title">Kênh tiếp nhận</th>
              <th class="column-title">Người tạo</th>
              <th class="column-title">Người xử lý</th>
              <th class="column-title">Người chịu TN</th>
              <th class="column-title">Tình trạng</th>
              <th class="column-title no-link last"><span class="nobr">Hành động</span>
              </th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td colspan="11" style="text-align: center">Không tìm thấy kết quả theo yêu cầu!</td>
            </tr>
            </tbody>
          </table>

          <table class="table table-striped jambo_table bulk_action table-bordered request-table" ng-if="noData == 1">
            <thead>
            <tr class="headings">
              <th class="column-title">STT</th>
              <th class="column-title">Mã ticket</th>
              <th class="column-title">Ngày tiếp nhận</th>
              <th class="column-title">Dịch vụ</th>
              <th class="column-title">Mức độ</th>
              <th class="column-title">Kênh tiếp nhận</th>
              <th class="column-title">Người tạo</th>
              <th class="column-title">Người xử lý</th>
              <th class="column-title">Người chịu TN</th>
              <th class="column-title">Tình trạng</th>
              <th class="column-title no-link last"><span class="nobr">Hành động</span>
              </th>
            </tr>
            </thead>

            <tbody>
            <tr class="even pointer" dir-paginate="request in requests | itemsPerPage: requestPerPage"
                total-items="totalRequest"
                current-page="pagination.current">
              <td data-title="STT" class="a-center ">{{$index + 1}}</td>
              <td data-title="Mã ticket">{{request.MaTicket}}</td>
              <td data-title="Ngày tiếp nhận">{{request.ThoiGianTao}}</td>
              <td data-title="Dịch vụ">{{request.DichVu}}</td>
              <td data-title="Mức độ">{{getLevelLabel(request.MucDo)}}</td>
              <td data-title="Kênh tiếp nhận">{{request.KenhTiepNhan}}</td>
              <td data-title="Kênh tạo">{{request.NguoiTao}}</td>
              <td data-title="Người xử lý">{{request.NguoiXuLy}}</td>
              <td data-title="Người chịu TN">{{request.NguoiChiuTrachNhiem}}</td>
              <td data-title="Tình trạng">{{getStatusLabel(request.TinhTrang)}}</td>
              <td data-title="Hành động" class=" last">
                <a class="btn" style="margin-right: 0" ui-sref="request.detail({id:request.ID})" ng-if="checkRight(6)"><i
                  title="Xem chi tiết thông tin yêu cầu"
                  class="fa fa-search" aria-hidden="true"></i></a>
                <a class="btn" style="margin-right: 0" ui-sref="request.edit({id:request.ID})" ng-if="((request.TinhTrang == 1 || request.TinhTrang == 2) && checkRight(4) && checkUser(request.IDNguoiTao)) || (request.TinhTrang == 4 && checkRight(100))"><i
                  title="Sửa thông tin yêu cầu"
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a class="btn" style="margin-right: 0" ui-sref="request.check({id:request.ID})" ng-if="(request.TinhTrang == 1 || request.TinhTrang == 2 || request.TinhTrang == 3 || request.TinhTrang == 4) && checkRight(7) && checkUser_noadmin(request.IDNguoiGanXuLy)"><i
                  title="Duyệt yêu cầu"
                  class="fa fa-refresh" aria-hidden="true"></i></a>
                <a class="btn" style="margin-right: 0" ui-sref="request.reopen({id:request.ID})" ng-if="request.TinhTrang == 5 && checkRight(8) && checkUser(request.IDNguoiGanXuLy)"><i
                  title="Mở lại yêu cầu đã được xử lý" class="fa fa-undo"
                  aria-hidden="true"></i></a>
                <a class="btn" style="margin-right: 0" ui-sref="request.delete({id:request.ID})"  ng-if="(request.TinhTrang == 1 || request.TinhTrang == 2) && checkRight(5) && checkUser(request.IDNguoiTao)"><i
                  title="Xóa yêu cầu" class="fa fa-trash-o"
                  aria-hidden="true"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <dir-pagination-controls ng-if="noData == 1" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
