<div ui-view>
  <div class="page-title">
    <div class="title_left">
      <h3>{{title}}</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Mở lại yêu cầu
            <!--<small>different form elements</small>-->
          </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form id="demo-form2" name="requestCheckForm" method="post" class="form-horizontal form-add form-label-left" ng-submit="reopenRequest()" novalidate>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Mã ticket :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.ticketCode}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Dịch vụ :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.service.shortName}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Mức độ :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{getLevelLabel(request.level)}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Kênh tiếp nhận :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{getChannelLabel(request.channel)}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Thời gian :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.timeRequest | date : "dd/MM/yyyy HH:mm:ss"}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Thông tin liên hệ :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.contact}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Cam kết SLA :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.number}} <span ng-if="request.sla == 1 && request.number > 0">ngày</span> <span ng-if="request.sla == 2 && request.number > 0">Giờ</span></label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Tình trạng hiện tại :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{getStatusLabel(request.TT)}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Người xử lý :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.assignedCurrent}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Người chịu TN :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.responsibleCurrent}}</label>
                  </div>
                </div>

              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Nội dung yêu cầu :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.content}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12">File đính kèm :</label>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <label style="margin-top: 7px;"><a ng-click="download(request.id)" style="color: #2B81AF; text-decoration: underline">{{request.fileName}}</a> </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-6 col-xs-6">Nội dung xử lý :</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">{{request.contentHandling}}</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12">Tình trạng cập nhật</label>
                  <div class="col-md-8 col-sm-4 col-xs-4">
                    <label style="margin-top: 7px;">REOPEN</label>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error':requestCheckForm.assigned.$touched && requestCheckForm.assigned.$invalid }">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12" for="assigned">Chuyển xử lý <span class="required">*</span>
                  </label>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <select class="select_assigned form-control" name="assigned" id="assigned" ng-model="request.assigned" required>
                      <option value="">-Tất cả-</option>
                      <optgroup ng-repeat="rightGroup in rightGroups" label="{{rightGroup.groupName}}">
                        <option ng-repeat="item in rightGroup.roleId_user" value="{{item.id}}">{{item.username}}</option>
                      </optgroup>
                    </select>
                    <div class="help-block" ng-messages="requestCheckForm.assigned.$error" ng-if="requestCheckForm.assigned.$touched">
                      <p ng-message="required">Vui lòng chọn người chuyển xử lý!</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error':requestCheckForm.responsible.$touched && requestCheckForm.responsible.$invalid }">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12" for="responsible">Chuyển người chịu TN<span class="required">*</span>
                  </label>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <select class="select_receiver form-control" name="responsible" id="responsible" ng-model="request.responsible" required>
                      <option value="">-Tất cả-</option>
                      <optgroup ng-repeat="rightGroup in rightGroupByManagers" label="{{rightGroup.groupName}}">
                        <option ng-repeat="item in rightGroup.roleId_user" value="{{item.id}}">{{item.username}}</option>
                      </optgroup>
                    </select>
                    <div class="help-block" ng-messages="requestCheckForm.responsible.$error" ng-if="requestCheckForm.responsible.$touched">
                      <p ng-message="required">Vui lòng chọn chuyển người chịu TN!</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error':requestCheckForm.level.$touched && requestCheckForm.level.$invalid }">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12" for="level">Mức độ <span class="required">*</span>
                  </label>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control" name="level" id="level" ng-model="request.level" required>
                      <option value="">-Chọn-</option>
                      <option ng-repeat="levelSearch in levelSearchs" value="{{levelSearch.value}}">{{levelSearch.label}}</option>
                    </select>
                    <div class="help-block" ng-messages="requestCheckForm.level.$error" ng-if="requestCheckForm.level.$touched">
                      <p ng-message="required">Vui lòng chọn mức độ!</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error':requestCheckForm.content.$touched && requestCheckForm.content.$invalid }">
                  <label class="control-label col-md-4 col-sm-12 col-xs-12" for="content">Lý do <span class="required">*</span>
                  </label>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <textarea name="content" rows="4" class="form-control" id="content" placeholder="Lý do mở lại..." ng-model="request.reason" required></textarea>
                    <div class="help-block" ng-messages="requestCheckForm.content.$error" ng-if="requestCheckForm.content.$touched">
                      <p ng-message="required">Vui lòng nhập lý do!</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                <input type="submit" ng-disabled="requestCheckForm.$dirty && requestCheckForm.$invalid" class="btn btn-success" value="Cập nhật"/>
                <cancel-button></cancel-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Chi tiết
          </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div id="no-more-tables" class="table-responsive">
            <table class="table table-striped jambo_table bulk_action table-bordered request-table">
              <thead>
              <tr class="headings">
                <th class="column-title">STT</th>
                <th class="column-title">Người thực hiện</th>
                <th class="column-title">Thao tác</th>
                <th class="column-title">Mô tả</th>
                <th class="column-title">Thời gian</th>
              </tr>
              </thead>

              <tbody>
              <tr class="even pointer" ng-repeat="handlingRequest in handlingRequests">
                <td data-title="STT" class="a-center ">{{$index + 1}}</td>
                <td data-title="Người thực hiện">{{handlingRequest.handlers.username}}</td>
                <td data-title="Thao tác">{{getStatusLabel(handlingRequest.manipulation)}}</td>
                <td data-title="Mô tả">{{handlingRequest.description}}</td>
                <td data-title="Thời gian">{{handlingRequest.timeHandling | date : "dd/MM/yyyy HH:mm:ss"}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
