<!-- <div ui-view> -->
<div class="page-title">
  <div class="title_left">
    <h3>{{title}}</h3>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Thông tin nhóm quyền
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id="demo-form2" name="rightDeleteForm" method="post" class="form-horizontal form-label-left"
              novalidate>

          <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" style="font-weight: inherit">Tên nhóm quyền: </label>
                <label class="padding-label">{{information.groupName}}</label>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" style="font-weight: inherit">Ngày tạo: </label>
                <label class="font-normal padding-label">{{information.createAt | date : "dd/MM/yyyy HH:mm:ss"}}</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" style="font-weight: inherit">Người tạo: </label>
                <label class="font-normal padding-label">{{information.createBy}}</label>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" style="font-weight: inherit">Ngày sửa: </label>
                <label class="font-normal padding-label">{{information.editedAt | date : "dd/MM/yyyy HH:mm:ss"}}</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" style="font-weight: inherit">Người sửa: </label>
                <label class="font-normal padding-label">{{information.editedBy}}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="description" class="control-label" style="font-weight: inherit">Mô tả</label>
                <input disabled type="text" class="form-control" name="description" id="description" ng-maxlength="150"
                       ng-model="information.description">
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="status" class="control-label" style="font-weight: inherit">Trạng thái</label>
                <select disabled name="status" id="status" class="form-control" ng-model="information.status">
                  <option value="1">Hoạt động</option>
                  <option value="0">Không hoạt động</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a ui-sref="right.list" style="margin-right: 0" class="btn btn-danger pull-right">Về danh sách</a>
              <input type="submit" class="btn btn-success pull-right"
                     ng-click="deleteRightGroup({id:RightGroupById.id})" style="margin-right: 10px;" value="Xóa"/>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row right-group">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="x_panel fixed_height_530">
      <div class="x_title">
        <h2>Quản lý yêu cầu</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <div class="right-level1">
            <label>
              <input id="select_all1" disabled type="checkbox" ng-click="selectAll1()"
                     ng-model="checkedRequest"><span class="span-level1">Tất cả</span>
            </label>
          </div>
          <div ng-repeat="item in rightgroups1[0].features" class="right-level2">
            <label>
              <input class="checkbox1" disabled type="checkbox" ng-model="selected1[item.id]"> <span>{{item.text}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="x_panel fixed_height_530">
      <div class="x_title">
        <h2>Quản lý tài liệu</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <label class="parent-right">
            <input id="select_all10" disabled ng-click="selectAll10()" type="checkbox" ng-model="checkedDocument">
            <span class="span-level1">Tất cả</span>
          </label>
          <div ng-repeat="item in rightgroups10[0].features" class="right-level2">
            <label>
              <input class="checkbox10" disabled type="checkbox" ng-model="selected10[item.id]"> <span>{{item.text}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="x_panel ui-ribbon-container fixed_height_530">
      <div class="x_title">
        <h2>Quản lý báo cáo</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <label class="parent-right">
            <input id="select_all13" disabled ng-click="selectAll13()" type="checkbox"
                   ng-model="checkedReport"><span class="span-level1">Tất cả</span>
          </label>
          <div ng-repeat="item in rightgroups13[0].features" class="right-level2">
            <label>
              <input class="checkbox13" disabled type="checkbox" ng-model="selected13[item.id]"> <span>{{item.text}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="x_panel ui-ribbon-container fixed_height_530">
      <div class="x_title">
        <h2>Quản trị hệ thống</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="parent-right">
                <input id="select_all17" disabled ng-click="selectAll17()" ng-model="checkedAccount" type="checkbox"> <span class="span-level1">{{rightgroups17[0].title}}</span>
              </label>
              <div ng-repeat="item in rightgroups17[0].features" class="right-level2">
                <label>
                  <input class="checkbox17" disabled type="checkbox" ng-model="selected17[item.id]"> <span>{{item.text}}</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="parent-right">
                <input id="select_all23" disabled ng-click="selectAll23()" type="checkbox" ng-model="checkedRight"> <span class="span-level1">{{rightgroups23[0].title}}</span>
              </label>
              <div ng-repeat="item in rightgroups23[0].features" class="right-level2">
                <label>
                  <input class="checkbox23" disabled type="checkbox" ng-model="selected23[item.id]"> <span>{{item.text}}</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="parent-right">
                <input id="select_all29" disabled ng-click="selectAll29()" type="checkbox" ng-model="checkedService"> <span class="span-level1">{{rightgroups29[0].title}}</span>
              </label>
              <div ng-repeat="item in rightgroups29[0].features" class="right-level2">
                <label>
                  <input class="checkbox29" disabled type="checkbox" ng-model="selected29[item.id]"> <span>{{item.text}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#select_all1').on('click', function () {
      if (this.checked) {
        $('.checkbox1').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox1').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox1').on('click', function () {
      if ($('.checkbox1:checked').length == $('.checkbox1').length) {
        $('#select_all1').prop('checked', true);
      } else {
        $('#select_all1').prop('checked', false);
      }
    });
  });

  $(document).ready(function () {
    $('#select_all10').on('click', function () {
      if (this.checked) {
        $('.checkbox10').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox10').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox10').on('click', function () {
      if ($('.checkbox10:checked').length == $('.checkbox10').length) {
        $('#select_all10').prop('checked', true);
      } else {
        $('#select_all10').prop('checked', false);
      }
    });
  });

  $(document).ready(function () {
    $('#select_all13').on('click', function () {
      if (this.checked) {
        $('.checkbox13').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox13').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox13').on('click', function () {
      if ($('.checkbox13:checked').length == $('.checkbox13').length) {
        $('#select_all13').prop('checked', true);
      } else {
        $('#select_all13').prop('checked', false);
      }
    });
  });

  $(document).ready(function () {
    $('#select_all17').on('click', function () {
      if (this.checked) {
        $('.checkbox17').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox17').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox17').on('click', function () {
      if ($('.checkbox17:checked').length == $('.checkbox17').length) {
        $('#select_all17').prop('checked', true);
      } else {
        $('#select_all17').prop('checked', false);
      }
    });
  });

  $(document).ready(function () {
    $('#select_all23').on('click', function () {
      if (this.checked) {
        $('.checkbox23').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox23').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox23').on('click', function () {
      if ($('.checkbox23:checked').length == $('.checkbox23').length) {
        $('#select_all23').prop('checked', true);
      } else {
        $('#select_all23').prop('checked', false);
      }
    });
  });

  $(document).ready(function () {
    $('#select_all29').on('click', function () {
      if (this.checked) {
        $('.checkbox29').each(function () {
          this.checked = true;
        });
      } else {
        $('.checkbox29').each(function () {
          this.checked = false;
        });
      }
    });

    $('.checkbox29').on('click', function () {
      if ($('.checkbox29:checked').length == $('.checkbox29').length) {
        $('#select_all29').prop('checked', true);
      } else {
        $('#select_all29').prop('checked', false);
      }
    });
  });
</script>
<!-- </div> -->
